<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>There's a new question waiting for your response!</h1>
    <p><%= @ticket.problem %></p>
    <h2>Go answer this on the site plz.<h2><br>
      This is for ticket id # <%= @ticket.id %>, please reply to this email with that number in your subject line.
  </body>
</html>
