<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>There's a new question waiting for your response!</h1>
    <p><%= @ticket.problem %></p>
    <h2>Go answer this on the site plz.<h2>
  </body>
</html>
